<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title> Admin Page</title>
</head>
<body>
    <h1>Admin page</h1>
    <br></br>
    <a th:href="@{/logout}">Logout</a>
</body>
</html>