<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title> User Page</title>
</head>
<body>
    <h1>User page</h1>
    <br></br>
    <a th:href="@{/logout}">Logout</a>

</body>
</html>